# PySpark Analysis NYC TLC Trips Records Data Feb 2021
---
<sub>Muhammad Difagama Ivanka</sub>

## Start

In [1]:
import numpy as np
np.random.seed(233)
import pandas as pd
import pyspark
import pyspark.pandas as ps
from pyspark.sql import SparkSession
from pyspark.sql import types
from pyspark.sql import functions as F

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

In [2]:
spark = SparkSession.builder \
    .master('local[*]') \
    .appName('nyc_spark') \
    .getOrCreate()

In [7]:
!curl https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-02.parquet > yellow_tripdata_2021-02.parquet
!curl https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-02.parquet > green_tripdata_2021-02.parquet
!curl https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2021-02.parquet > fhv_tripdata_2021-02.parquet

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0 20.7M    0     0    0     0      0      0 --:--:--  0:00:01 --:--:--     0
  1 20.7M    1  326k    0     0   140k      0  0:02:31  0:00:02  0:02:29  140k
 12 20.7M   12 2737k    0     0   841k      0  0:00:25  0:00:03  0:00:22  842k
 17 20.7M   17 3655k    0     0   859k      0  0:00:24  0:00:04  0:00:20  859k
 17 20.7M   17 3767k    0     0   704k      0  0:00:30  0:00:05  0:00:25  760k
 19 20.7M   19 4068k    0     0   650k      0  0:00:32  0:00:06  0:00:26  829k
 20 20.7M   20 4416k    0     0   605k      0  0:00:35  0:00:07  0:00:28  821k
 22 20.7M   22 4832k    0     0   579k      0  0:00:36  0:00:08  0:00:28  411k
 25 20.7M   25 5326k    0     0   575k      0  0:00:36  0:00:09  0:00:27  334k
 27 20.7M   27 5763k    0     0   562k      0  0:00:37  0:00:10  0:00:27  406k
 38 20.7M   38 8134k    0     0   722k      0  0:00:29  0:00:11  0:00:18  812k
 45 20.7M   45 9724k    0     0   777k      0  0:00:27  0:00:12  0:00:15 1019k
 61 20.7M   61 12.8M    0     0   993k      0  0:00:21  0:00:13  0:00:08 1696k
 73 20.7M   73 15.3M    0     0  1101k      0  0:00:19  0:00:14  0:00:05 2075k
 85 20.7M   85 17.8M    0     0  1195k      0  0:00:17  0:00:15  0:00:02 2494k
 97 20.7M   97 20.2M    0     0  1275k      0  0:00:16  0:00:16 --:--:-- 2519k
100 20.7M  100 20.7M    0     0  1292k      0  0:00:16  0:00:16 --:--:-- 2925k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
 15 1118k   15  174k    0     0   112k      0  0:00:09  0:00:01  0:00:08  112k
100 1118k  100 1118k    0     0   490k      0  0:00:02  0:00:02 --:--:--  492k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0 10.1M    0 16384    0     0  14415      0  0:12:18  0:00:01  0:12:17 14422
 10 10.1M   10 1070k    0     0   502k      0  0:00:20  0:00:02  0:00:18  502k
 34 10.1M   34 3570k    0     0   895k      0  0:00:11  0:00:03  0:00:08  896k
 34 10.1M   34 3586k    0     0   847k      0  0:00:12  0:00:04  0:00:08  847k
 35 10.1M   35 3666k    0     0   695k      0  0:00:14  0:00:05  0:00:09  725k
 42 10.1M   42 4380k    0     0   709k      0  0:00:14  0:00:06  0:00:08  866k
 63 10.1M   63 6567k    0     0   920k      0  0:00:11  0:00:07  0:00:04 1099k
 66 10.1M   66 6946k    0     0   832k      0  0:00:12  0:00:08  0:00:04  773k
 67 10.1M   67 7026k    0     0   765k      0  0:00:13  0:00:09  0:00:04  695k
 69 10.1M   69 7249k    0     0   708k      0  0:00:14  0:00:10  0:00:04  720k
 71 10.1M   71 7409k    0     0   656k      0  0:00:15  0:00:11  0:00:04  592k
 73 10.1M   73 7678k    0     0   632k      0  0:00:16  0:00:12  0:00:04  222k
 78 10.1M   78 8165k    0     0   620k      0  0:00:16  0:00:13  0:00:03  253k
 84 10.1M   84 8790k    0     0   621k      0  0:00:16  0:00:14  0:00:02  355k
100 10.1M  100 10.1M    0     0   703k      0  0:00:14  0:00:14 --:--:--  692k

In [8]:
df_yellow = spark.read.parquet('yellow_tripdata_2021-02.parquet')
df_green = spark.read.parquet('green_tripdata_2021-02.parquet')
df_fhv = spark.read.parquet('fhv_tripdata_2021-02.parquet')

In [ ]:
def filter_data(the_df, pickup_col: str, dropoff_col: str):
    pickup_col = F.col(pickup_col)
    dropoff_col = F.col(dropoff_col)

    trips_cnt = the_df.where((pickup_col >= "2021-02-01 00:00:00")
    & (dropoff_col< "2021-02-29 00:00:00"))

In [21]:
print(df_yellow, "\n")
print(df_green, "\n")
print(df_fhv)

DataFrame[VendorID: bigint, tpep_pickup_datetime: timestamp, tpep_dropoff_datetime: timestamp, passenger_count: double, trip_distance: double, RatecodeID: double, store_and_fwd_flag: string, PULocationID: bigint, DOLocationID: bigint, payment_type: bigint, fare_amount: double, extra: double, mta_tax: double, tip_amount: double, tolls_amount: double, improvement_surcharge: double, total_amount: double, congestion_surcharge: double, airport_fee: double]

DataFrame[VendorID: bigint, lpep_pickup_datetime: timestamp, lpep_dropoff_datetime: timestamp, store_and_fwd_flag: string, RatecodeID: double, PULocationID: bigint, DOLocationID: bigint, passenger_count: double, trip_distance: double, fare_amount: double, extra: double, mta_tax: double, tip_amount: double, tolls_amount: double, ehail_fee: int, improvement_surcharge: double, total_amount: double, payment_type: double, trip_type: double, congestion_surcharge: double]

DataFrame[dispatching_base_num: string, pickup_datetime: timestamp, dropOff_datetime: timestamp, PUlocationID: double, DOlocationID: double, SR_Flag: int, Affiliated_base_number: string]

## 1. How many taxi trips were there on February 15?

In [24]:
def total_trips_cnt(the_df, pickup_time_col):
    trips_cnt = the_df.where((the_df[pickup_time_col] >= "2021-02-15 00:00:00")
    & (the_df[pickup_time_col] < "2021-02-16 00:00:00")).count()
    return trips_cnt

yel_cnt = total_trips_cnt(df_yellow, 'tpep_pickup_datetime')
grn_cnt = total_trips_cnt(df_green, 'lpep_pickup_datetime')
fhv_cnt = total_trips_cnt(df_fhv, 'pickup_datetime')

print(f"Yellow Taxi Trips on 15 February 2021\t\t\t: {yel_cnt}")
print(f"Green Taxi Trips on 15 February 2021\t\t\t: {grn_cnt}")
print(f"For-Hire Vehicle (FHV) Taxi Trips on 15 February 2021\t: {fhv_cnt}")
print(f"All Taxi Total Trips on 15 February 2021\t\t: {np.sum([yel_cnt,grn_cnt,fhv_cnt])}")

Yellow Taxi Trips on 15 February 2021			: 43734
Green Taxi Trips on 15 February 2021			: 1798
For-Hire Vehicle (FHV) Taxi Trips on 15 February 2021	: 35523
All Taxi Total Trips on 15 February 2021		: 81055

## 2. The longest trip for each day

In [53]:
# Duration (minutes)
def duration_trips_cal(the_df, pickup_col: str, dropoff_col: str, res_name_col = 'Longest Duration (minutes)'):
    '''in minute(s)'''
    duration_col = 'trip_duration'
    date_col = F.to_date(pickup_col)

    df_temp = the_df.withColumn(
        duration_col,
        (F.col(dropoff_col).cast('long') - F.col(pickup_col).cast('long'))/60
    )
    df_temp = df_temp.groupBy(date_col).max(duration_col)
    df_temp = df_temp.withColumnRenamed(f'max({duration_col})', res_name_col)\
        .withColumnRenamed(f'to_date({pickup_col})', 'Pickup Date')
    df_temp = df_temp.orderBy(date_col).asc()
    return df_temp

duration_trips_cal(df_yellow, 'tpep_pickup_datetime', 'tpep_dropoff_datetime').show()

+-----------+--------------------------+
|Pickup Date|Longest Duration (minutes)|
+-----------+--------------------------+
| 2009-01-01|         573.4166666666666|
| 2021-02-15|        1439.0166666666667|
| 2021-02-02|        1438.6666666666667|
| 2021-02-26|        1438.7333333333333|
| 2021-02-21|        1439.0666666666666|
| 2021-02-05|        1439.5833333333333|
| 2021-02-10|        1439.2333333333333|
| 2021-02-01|                    1421.8|
| 2021-02-06|                    1439.0|
| 2009-01-02|                      7.35|
| 2021-02-19|        1438.6333333333334|
| 2021-02-20|                   1439.05|
| 2021-02-08|                   1439.45|
| 2021-02-09|        1438.8333333333333|
| 2021-02-11|        1439.0833333333333|
| 2021-02-17|        1439.6666666666667|
| 2021-02-25|        1439.7833333333333|
| 2021-03-01|                    1438.8|
| 2021-02-27|        1438.8333333333333|
| 2021-02-24|        1439.5166666666667|
+-----------+--------------------------+
only showing top 20 rows

In [31]:
df_yellow

DataFrame[VendorID: bigint, tpep_pickup_datetime: timestamp, tpep_dropoff_datetime: timestamp, passenger_count: double, trip_distance: double, RatecodeID: double, store_and_fwd_flag: string, PULocationID: bigint, DOLocationID: bigint, payment_type: bigint, fare_amount: double, extra: double, mta_tax: double, tip_amount: double, tolls_amount: double, improvement_surcharge: double, total_amount: double, congestion_surcharge: double, airport_fee: double]

## 3. Top 5 Most frequent `dispatching_base_num`

## 4. Top 5 Most common location pairs (PUlocationID and DOlocationID)